.container-center {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.nav-link {
    font-size: large;
    padding: 0.2em 0.5em;
    cursor: pointer;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-link:hover {
    color: var(--bt-blue);
}

.nav-link:active{
    color: var(--lightBlue);
}

.nav-link:focus {
    outline: 2px solid var(--bt-blue);
}

.nav-link:visited {
    color: var(--white);
}

.button-type-1 {
    font-size: x-large;
    color: var(--bt-blue);
    border: 4px outset var(--button-1-border);
    align-self: center;
    padding: 4px 8px 4.5px;
    background-color: var(--darkBlue);
}

.button-type-2 {
    font-size: 20px;
    color: var(--white);
    border: 2px solid var(--white);
    align-self: center;
    padding: 0.25em;
    background-color: var(--darkBlue);
}

.button-type-1:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 4px outset var(--white);
}

.button-type-2:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 2px outset var(--white);
}

.button-type-1:active,
.button-type-2:active {
    background-color: var(--darkBlue);
}

