.heading-2x-large-flex-center {
    display: inline-flex;
    font-size: xx-large;
    align-self: center;
}

.title-small {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--white);
}

.title-small:hover {
    color: var(--bt-blue);
}

.title-small:active{
    color: var(--lightBlue);
}

.heading-title {
    color: var(--white);
    text-align: center;
    font-family: Noto Sans Brahmi, sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.simple-text-container {
    padding: 1em 1.5em 1em 1.5em
}