.title-small {
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: var(--white);
}

.white-heading {
    box-sizing: border-box;
    color: var(--white);
    text-align: center;
    overflow-wrap: normal;
    object-fit: fill;
    font-family: Noto Sans Brahmi, sans-serif;
    font-size: xx-large;
    display: flex;
    bottom: 1em;
    overflow: visible;
    justify-content: center;
}