:root {
    --white: #f5f7fa;
    --lightBlue: #d9e0ed;
    --blue: #293e66;
    --darkBlue: #152b40;
    --bt-blue: #9cbbcd;
}

* {
    font-family: 'Noto Sans Brahmi', sans-serif;
    color: var(--white);
}

a, button {
    text-decoration: none;
    cursor: pointer;
    --button-1-border: #9cbbcd;
}

body {
    background-color: var(--lightBlue)
}

.vertical-divider-body {
    height: 20px;
    background-color: var(--lightBlue);
}

.container-main-page-part {
    width: 100%;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--darkBlue);
    min-height: 40vh;
}