.header-section {
    background-color: var(--darkBlue);
    display: flex;
    justify-content: center;
    height: 90px;
}

.header-navbar-container {
    max-width: 1260px;
    width: 100%;
    display: grid;
    grid: repeat(2, 1fr)/190px auto 220px;
}

.nav-links-container {
    display: flex;
    height: 100%;
    justify-content: center;
}

.header-flex-column-line {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
}

.header-grid-line {
    display: grid;
    height: 100%;
    width: 98%;
    grid: auto/auto 45px 45px;
    column-gap: 5px;
}

.header-input-field {
    background-color: var(--white);
    width: 100%;
    margin: 5px 0 5px 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: large;
    color: black;
    align-self: center;
}

.header-find-button {
    background-color: var(--white);
    align-self: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header-image-button {
    margin: 5px;
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.navbar-log-panel-buttons {
    margin: 20px 5px;
    background-color: var(--white);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 50px;
    height: 50px;
}

.header-divider {
    background-color: var(--white);
    width: 98%;
    height: 1px;
}

