<div class="container-list-page">
    <h2 class="heading-title">Sellers</h2><a class="list-page-button">Add</a>
    <div class="container-list">
        <div class="seller-info-grid-container">
            <img style="grid-area: 1 / 1 / 4 / 2; width: 100%; height: 100%; object-fit: contain; padding: 10px" src="https://1000logos.net/wp-content/uploads/2017/06/Font-Samsung-Logo.jpg"/>
            <div style="grid-area: 1 / 2 / 4 / 3">
                <p class="info-container-text">Name: </p>
                <p class="info-container-text">Number: </p>
                <p class="info-container-text">Email: </p>
            </div>
            <p class="info-container-text" style="grid-area: 1 / 3 / 4 / 4; white-space: normal; word-wrap: break-word;">"Description: <br> A company that for over a decade has been in the business of selling1"</p>
            <a class="button-type-2 info-container-button" style="grid-area: 1 / 4 / 2 / 5;">View</a>
            <a class="button-type-2 info-container-button" style="grid-area: 2 / 4 / 3 / 5;">Edit</a>
            <a class="button-type-2 info-container-button" style="grid-area: 3 / 4 / 4 / 5; text-align: center; ">Delete</a>
        </div>
        <div class="seller-info-grid-container">
            <img style="grid-area: 1 / 1 / 4 / 2; width: 100%; height: 100%; object-fit: contain; padding: 10px" src="https://1000logos.net/wp-content/uploads/2017/06/Font-Samsung-Logo.jpg"/>
            <div style="grid-area: 1 / 2 / 4 / 3">
                <p class="info-container-text">Name: </p>
                <p class="info-container-text">Number: </p>
                <p class="info-container-text">Email: </p>
            </div>
            <p class="info-container-text" style="grid-area: 1 / 3 / 4 / 4;  white-space: normal; word-wrap: break-word;">"Description: <br> A company that for over a decade has been in the business of selling1"</p>
            <a class="button-type-2 info-container-button" style="grid-area: 1 / 4 / 2 / 5;">View</a>
            <a class="button-type-2 info-container-button" style="grid-area: 2 / 4 / 3 / 5;">Edit</a>
            <a class="button-type-2 info-container-button" style="grid-area: 3 / 4 / 4 / 5; text-align: center; ">Delete</a>
        </div>
    </div>
</div>