@{
    Layout = "_GlobalLayout";
}
<html lang="en">

@section AdditionalMenuButtons {
    <li>
        <a class="nav-link" href="#">About</a>
    </li>
    <li>
        <div data-hover="false" data-delay="0" class="nav-dropdown w-dropdown">
            <div class="nav-dropdown-toggle w-dropdown-toggle">
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                <div class="text-block-2">Managing</div>

            </div>
            <nav class="nav-dropdown-list shadow-three mobile-shadow-hide w-dropdown-list">
                <a href="#" class="nav-dropdown-link w-dropdown-link">Resource link 1</a>
                <a href="#" class="nav-dropdown-link w-dropdown-link">Resource link 2</a>
                <a href="#" class="nav-dropdown-link w-dropdown-link">Resource link 3</a>
            </nav>
        </div>
    </li>
}

@RenderBody()