@model dynamic

@{
    
}

<main class="container-page container">
    <div class="logo">
        <img alt="logo" src="StaticFiles/CompanyLogo.png">
    </div>
    <div alt="text">
        <div class="text">
            <h2 class="white-heading">Good morning Vietnam</h2>
        </div>
    </div>
</main>