@{
    ViewData["Title"] = "Terms and conditions";
}

<head>
    <title>@ViewData["Title"] - TradeWave</title>
    <style>
            * {
                color: #f5f7fa;            
            }
        </style>
</head>

<body>
<main class="container-size container-main">
    <div style=" align-self: flex-start;">
            <h1>About the Project</h1>
            <p>This project is a marketplace website developed as a qualification work. The primary goal is to create a platform where buyers and sellers can interact, ensuring a seamless e-commerce experience.</p>
        
            <h2>Author</h2>
            <p>The project was developed by Honchar Dmytro, a dedicated software developer with a passion for building innovative web applications. This project serves as a capstone to demonstrate the skills and knowledge acquired during the course of study.</p>
        
            <h2>Project Goals</h2>
            <ul>
                <li>Develop a user-friendly interface for both buyers and sellers.</li>
                <li>Implement secure authentication and authorization mechanisms.</li>
                <li>Ensure a scalable and maintainable architecture.</li>
                <li>Integrate essential e-commerce functionalities like product listing, shopping cart, and order processing.</li>
                <li>Provide comprehensive documentation and support for future development and enhancements.</li>
            </ul>
    </div>
</main>
</body>