@{
    ViewData["Title"] = "Terms and conditions";
}

<head>
    <title>@ViewData["Title"] - TradeWave</title>
    <style>
            * {
                color: #f5f7fa;            
            }
        </style>
</head>

<body>
<main class="container-size container-main">
    <h1>Terms & Conditions</h1>
    <p>Last updated: 07.06.2024</p>

    <section>
        <h2>1. Introduction</h2>
        <p>Welcome to TradeWave. These Terms & Conditions govern your use of our website.</p>
    </section>

    <section>
        <h2>2. Definitions</h2>
        <p>For the purposes of these Terms & Conditions:</p>
        <ul>
            <li><strong>Website</strong> refers to TradeWave</li>
            <li><strong>User</strong> refers to any individual accessing our site</li>
            <!-- Add more definitions as needed -->
        </ul>
    </section>

    <section>
        <h2>3. Acceptable Use</h2>
        <p>Users must not use the website in any way that causes, or may cause, damage to the website or impairment.</p>
    </section>

    <section>
        <h2>4. User Accounts</h2>
        <p>To access certain features, you may need to create an account. You are responsible for maintaining the confidentiality.</p>
    </section>

    <section>
        <h2>5. Content</h2>
        <p>By posting content on our website, you grant us a non-exclusive, worldwide, royalty-free license to use.</p>
    </section>

    <section>
        <h2>6. Intellectual Property</h2>
        <p>All content on the site, including but not limited to text, images, software, and designs, is the property of.</p>
    </section>

    <section>
        <h2>7. Privacy</h2>
        <p>Your use of our site is also governed by our Privacy Policy, which can be found <a asp-controller="Home" asp-action="Privacy">here</a>.</p>
        <a></a>
    </section>

    <section>
        <h2>8. Limitation of Liability</h2>
        <p>To the maximum extent permitted by law, we shall not be liable for any damages that result from the use.</p>
    </section>

    <section>
        <h2>9. Changes to the Terms</h2>
        <p>We reserve the right to modify these Terms & Conditions at any time. We will notify users of any changes by.</p>
    </section>

    <section>
        <h2>10. Termination</h2>
        <p>We may terminate or suspend your access to our site immediately, without prior notice or liability, for any reason.</p>
    </section>

    <section>
        <h2>11. Governing Law</h2>
        <p>These Terms & Conditions are governed by and construed in accordance with the laws of Ukraine.</p>
    </section>

    <section>
        <h2>12. Contact Us</h2>
        <p>If you have any questions about these Terms & Conditions, please contact us at dmytrohoncharh@gmail.com.</p>
    </section>
</main>
</body>